:root {
    --black: #161616;
}

* {
    cursor:url(http://www.rw-designer.com/cursor-extern.php?id=173622), auto;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(70,30,82);
    background: linear-gradient(90deg, rgba(70,30,82,1) 0%, rgba(221,81,126,1) 23%, rgba(230,142,53,1) 44%, rgba(85,108,201,1) 66%, rgba(122,152,238,1) 87%);
    font-family: 'Press Start 2P', cursive;
}

a {
    text-decoration: none;
    display: inline-block;
}

.main-box {
    display: block;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    width: 900px;
    text-align: center;
}

.main-box h1 {
    color: #f5a554;
    text-shadow: 3px 3px var(--black);
}

.list-box {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: var(--black);
}

.button {
    font-family: 'Press Start 2P';
    margin-bottom: 20px;
    padding: 20px;
    color: #c8f9ff;
    background-color: #161616;
    border: solid 2px #556cc9;
}

.button:hover {
    color: var(--black);
    background-color: rgba(221,81,126,1);
    transition: all 0.5s ease-in-out;
}