:root {
    --black: #161616;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(70,30,82);
    background: linear-gradient(90deg, rgba(70,30,82,1) 0%, rgba(221,81,126,1) 23%, rgba(230,142,53,1) 44%, rgba(85,108,201,1) 66%, rgba(122,152,238,1) 87%);
    font-family: 'Press Start 2P', cursive;
}

a {
    text-decoration: none;
}

.main-box {
    display: block;
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    width: 900px;
    text-align: center;
}

.main-box h1 {
    color: #f5a554;
    text-shadow: 3px 3px var(--black);
}

.list-box {
    display: block;
    margin: auto;
    padding: 20px;
    background-color: var(--black);
}

.list-box li {
    display: inline;
    justify-content: space-evenly;
    color: #c8f9ff;
    border: solid 2px #556cc9;
    padding: 15px 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}