@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

 /*Header*/

.header{
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #101010;
  
}

.inner_header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  
}

.logo_container{
  height: 100%;
  display: table;
  float: left;
  
}

.logo_container h1{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 100;
  cursor: pointer;
}



.logo_container h1 {
  font-weight: 500;
}

.navigation{
  float: right;
  height: 100%;
  
}

.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  font-weight: 500;

}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: 'Montserrat';
  font-size: 16px;
  
}


.rectangle-1 {
  position: absolute; 
  left: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.9);
  width: 35rem;
  height: 15rem;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-style: outset;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

#text-rectangle-1 {
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin: 0%;
  padding-top: 6px;
  font-family:'Montserrat';

}

#textsub1-rectangle-1 {
  color:white;
  font-size: 0.9em;
  margin: 0%;
  padding-left: 6px;
  padding-top: 6px;
  font-family:'Montserrat';
}

.rectangle-2 {
  position: absolute;
  background-color: rgba(16, 16, 16, 0.9);
  left: 0;
  right: 0;
  width: 35rem;
  height: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22%;
  color:white;
  border-bottom-style: outset;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  
  
  
}

#text-rectangle-2 {
  color:white;
  text-align: center;
  padding-top: 6px;
  font-size: 1em;
  margin: 0%;
  font-family:'Montserrat';
  
}

#textsub1-rectangle-2{
  font-size: 0.9em;
  margin: 0%;
  padding-left: 6px;
  padding-top: 6px;
  font-family:'Montserrat';

}

 .background-image {
  position:absolute;
  opacity: 0.5;
  background-image: url("../images/wraith.jpg");
  width: 1920px;
  height: 770px;
  z-index: -1;
  margin-top: auto;

 }  

main {
  background: url("../images/wraith.jpg");
  width: 100%;
  height: auto;
}

#footer {
  position: absolute;
  background-color: rgba(16, 16, 16, 1);
  bottom: 0%;
  height: 100px;
  width: 100%;

}

html,body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    
}

body {
  background-color: rgb(232, 232, 232, 1);
  
} 

*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 768px){

.rectangle-1 , .rectangle-2 .background-image{

  width:100%;
}
}

